.App {
  text-align: center;

  background-image: linear-gradient(rgba(68, 68, 68, 0.411), rgba(51, 51, 51, 0.37)), url('./background/20180517_123646.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  animation: fade-slide-down .5s ease-out forwards;

  height: 100vh;
}

.App .jumbotron {
  background-color: rgba(0, 0, 0, 0.253);
  height: 100vh;
}

.App .jumbotron button {
  height: 100vh;
}

.App-header {
  /*background-color: #282c34; */
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.1);
}

.App-logo {
   height: 20vmin;
   pointer-events: none;
}

.App .a {
  color: #61dafb;
}

.Contact-pad {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  opacity: 0.6;
  border: 1px 1px 1px 1px;
  min-width: 100px;
  min-height: 7vh;
  transition: 0.3s;
  padding: 1em;
}

.Contact-pad .btn {
  height: 100%;
}

.vertical-center {
  height:100vh;
  width:100vh;

  text-align: center;  /* align the inline(-block) elements horizontally */
  font: 0/0 a;         /* remove the gap between inline(-block) elements */
}

.vertical-center:before {    /* create a full-height inline block pseudo=element */
  content: " ";
  display: inline-block;
  vertical-align: middle;    /* vertical alignment of the inline element */
  height: 100vh;
}

.vertical-center > .container {
  max-width: 100%;

  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */
                           /* reset the font property */
  font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.centered-button-content {
  /*
  margin-top: 10%;
  margin-bottom: 10%;
  */
  bottom: 50%; /* it will put 50% from the bottom */
  transform: translateY(50%); /* which will put the anchor point to the center of the div */
}

.Contact-icon {
  height: 7vh;
  width:  7vh;
}

footer {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 5vh;
}

.credits {
  font-size: small;
}
